@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");

body {
  background-color: #e9e0da;
}

header#header {
  background-color: #212121;
  box-shadow: 2px 5px 10px 3px rgba(0, 0, 0, 0.2);
}

#header h1 a {
  font-family: Raleway, Helvetica, sans-serif;
  text-transform: uppercase;
}

header#header h1 {
  color: #ee7d75;
}

header#header a:hover {
  color: white !important;
}

h1 a,
h2 a {
  font-family: "Abril Fatface", cursive;
  /* font-family: "Playfair Display", serif;
  font-weight: 900; */
  text-transform: none;
  font-size: 1.7em;
}

.title h2 a:hover {
  color: #5c5b5b !important;
}

nav li {
  /* color: #e05148; */
  color: aliceblue;
}

#header .links ul li a {
  /* color: #e05148; */
  color: #ee7d75;
}

#header .links a {
  opacity: 1;
}

#header .links a:hover {
  color: white !important;
}

article.post {
  background-color: #f4f0eb;
}

header {
  background-color: #f4f0eb;
}

article.post p {
  font-family: "Merriweather", serif;
  font-size: 1.1em;
  line-height: 1.9;
}

article.post header .title p {
  margin-left: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #c94d44;
  text-transform: none;
}

#content p {
  margin-bottom: 2em;
}

.post > .image.featured {
  /* safari fix */
  display: none;
}

.mini-post .image.featured {
  /* safari fix */
  display: none;
}

/* drop cap */

p:first-child::first-letter {
  /* color: #903; */
  /* color: #c94d44; */
  color: #ee7d75;
  float: left;
  font-family: Georgia;
  font-size: 72px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

li.menu a.fa-bars::before {
  color: #fff;
  opacity: 1;
}

ul.actions a.button.big.previous {
  background-color: #5c5b5b;
}

.recent {
  padding-left: 1.25em;
}
