@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");

body {
  background-color: #e9e0da;
  background-image: url("/img/10.jpg");
  background-repeat: repeat;
}

header#header {
  background-color: #212121;
  box-shadow: 2px 5px 10px 3px rgba(0, 0, 0, 0.2);
}

header a {
  border: none;
}

.title {
  text-align: center;
}

nav.links {
  margin-left: 0;
}

#header h1 a {
  font-family: Raleway, Helvetica, sans-serif;
  text-transform: uppercase;
}

header#header h1 {
  color: #ee7d75;
}

header#header a:hover {
  color: white !important;
}

h1 a,
h2 a {
  font-family: "Abril Fatface", cursive;
  text-transform: none;
  font-size: 1.7em;
}

.title h1 a:hover,
.title h2 a:hover {
  color: #5c5b5b !important;
}

nav li {
  color: aliceblue;
}

#header .links ul li a {

  color: #ee7d75;
}

#header .links a {
  opacity: 1;
}

#header .links a:hover {
  color: white;
}

article.post {
  background-color: #f4f0eb;
  /* background-image: url("/img/4.jpg"); */
  /* background-repeat: repeat; */
}

header {
  background-color: #f4f0eb;
  /* background-image: url("/img/4.jpg"); */
  /* background-repeat: repeat; */
}

article.post p {
  font-family: "Merriweather", serif;
  font-size: 1.1em;
  line-height: 1.9;
}

article.post header .title p {
  margin-left: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #c94d44;
  text-transform: none;
}

article.post p img {
  display: block;
  margin: 0 auto;
}

#content p {
  margin-bottom: 2em;
}

.post > .image.featured {
  /* safari fix */
  display: none;
}

.mini-post .image.featured {
  /* safari fix */
  display: none;
}

.mini-post header h3 a:hover {
  color: #ee7d75 !important;
}

header h3 a:hover {
  color: #ee7d75 !important;
}

header.categorylist a:hover {
  color: #ee7d75 !important;
}

/* drop cap */

p:first-child::first-letter {
  /* color: #903; */
  /* color: #c94d44; */
  color: #ee7d75;
  float: left;
  font-family: Georgia;
  font-size: 72px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

li.menu a.fa-bars::before {
  color: #fff;
  opacity: 1;
}

ul.actions a.button.big.previous {
  background-color: #d7cdc6;
}

.recent,
.kategorije {
  padding-left: 1.25em;
}

.categorylist {
  padding-left: 1.25em;
  padding-right: 1.25em;
}

ul.actions.pagination .next {
  background-color: #f4f0eb;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
  border: solid 1px #ee7d75;
  color: #ee7d75 !important;
}

input[type="text"]:focus,
input[type="text"]:active,
input[type="text"]:hover,
input[type="password"]:focus,
input[type="password"]:active,
input[type="password"]:hover,
input[type="email"]:focus,
input[type="email"]:active,
input[type="email"]:hover,
input[type="tel"]:focus,
input[type="tel"]:active,
input[type="tel"]:hover,
select:focus,
select:active,
select:hover,
textarea:focus,
textarea:active,
textarea:hover {
  border: solid 1px #ee7d75;
}

/* Media queries */

@media screen and (max-width: 980px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }

  h1.title {
    /* color: pink !important; */
    padding: 0 0 0 8em !important;
    margin: 0 auto;
  }
}

@media screen and (max-width: 736px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
  h1.title {
    /* color: blue !important; */
    padding: 0 0 0 4em !important;
    margin: 0 auto;
  }
  /* remove share nav */
  li#share-nav {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }

  /* remove share nav */
  li#share-nav {
    display: none !important;
  }

  h1.title {
    /* color: yellow !important; */
    padding: 0 0 0 4em !important;
    margin: 0 auto;
  }

  .post p {
    font-size: 0.9em !important;
    line-height: 1.9;
  }

  #main img {
    width: 90vw;
    margin-left: -5px;
  }
}
